@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1500px;
    margin: auto;
    background-color: rgb(242, 244, 235);
    /* font-size: 60%;
    fontfamily */
}

.header {
    width: 100%;
    background-color: #111111;
    height: 5rem;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 3;
}

.header__logo {
    height: 3rem;
    margin: 1rem;
}

/* Mobile nav */

.header__burger {
    opacity: 0;
    margin-right: 1.8rem;
}

.header__burger-btn {
    display: flex;
    align-items: center;
    position: sticky;
    top: 1.2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.header__burger-btn>span,
.header__burger-btn>span::before,
.header__burger-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

.header__burger-btn>span::before {
    content: '';
    top: -8px;
}

.header__burger-btn>span::after {
    content: '';
    top: 8px;
}

.header__burger:checked~.header__burger-btn>span {
    transform: rotate(45deg);
}

.header__burger:checked~.header__burger-btn>span::before {
    top: 0;
    transform: rotate(0);
}

.header__burger:checked~.header__burger-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

.header__burger:checked~.header__mobile-menu-list {
    visibility: visible;
    background-color: rgba(24, 24, 24, 0.8);
    right: 0.1rem;
}

.header__mobile-menu-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    font-family: "open sans", sans-serif;
    top: 5rem;
    width: 40%;
    height: 20rem;
    transition: 0.3s;
    right: -100%;
    border-radius: 5px;
    padding: 0;
}

.header__mobile-list-item {
    list-style-type: none;
    padding: 1.5rem 2rem;
    text-align: right;
    cursor: pointer;
    border-radius: 5px;
}

.header__mobile-menu-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header__mobile-list-item:hover {
    background-color: rgba(111, 137, 106, 0.8);
}


/* Desktop nav */

.header__desktop-menu {
    display: none;
}

.header__desktop-menu-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: "open sans", sans-serif;
}

.header__desktop-menu-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 1.8rem 1.45rem;
    border-radius: 5px;
}

.header__desktop-menu-link:hover {
    background-color: rgba(111, 137, 106, 0.8);
}


/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-image: url(./assets/AIphotos/hotellbylake.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;

}

.hero--backgroundcolor {
    background-color: rgba(98, 192, 151, 0.29);
    width: 100%;
    height: 80vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero__arrow {
    height: 4rem;
    z-index: 2;
    margin: 1rem;
    /* kan den hoppa eller nått? */
}

.frontpage__title {
    margin: 3rem 3rem;
    margin-bottom: 1rem;
    font-size: 2.5em;
    text-align: center;
    font-family: "open sans", sans-serif;
}

.frontpage__text {
    margin: 1rem 3rem;
    text-align: center;
    font-family: "open sans", sans-serif;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 95%;
    height: 10rem;
    background-color: rgba(111, 137, 106);
    color: white;
    font-family: "open sans", sans-serif;
    margin: 3rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card:hover {
    background-color: rgb(159, 184, 154);
    cursor: pointer;
}

.card__title {
    grid-column: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    font-size: 80%;
}

.card__img {
    grid-column: auto / span 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 5px 5px 0;
}

.card__img--booking {
    background-image: url(./assets/AIphotos/cottage2.jpg);
}

.card__img--about {
    background-image: url(./assets/AIphotos/aboutHotell.jpeg);
}

.jumbotron {
    width: 100%;
    height: 60vh;
    background-image: url(./assets/AIphotos/treescircle1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
}

.footer {
    width: 100%;
    background-color: #222222;
    color: white;
    font-family: "open sans", sans-serif;
    padding-top: 1.5rem;
}

.footer--padding {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.footer__title {
    margin: 0.2rem 0;
}

.footer__text {
    font-size: 0.6em;
    margin: 0.2rem 0 0 0;
}

.footer__icons {
    display: flex;
    margin-right: 1rem;

}

.footer__icons--size {
    height: 2rem;
    margin: 2rem 0rem 3rem 1rem;
    cursor: pointer;
}


@media screen and (min-width: 700px) {

    .header__mobile-menu-list,
    .header__burger,
    .header__burger-btn {
        display: none;
    }

    .header__desktop-menu {
        display: block;
    }

    .card__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 3rem;
    }

    .card {
        margin: 1rem;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        height: 30vh;
    }
}